name: Run Automated Tests

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install packages
        run: npm install

      - name: Install Jest manually
        run: npm install jest --save-dev

      - name: Run tests
        run: npx jest --runInBand --coverage

      - name: Upload coverage results
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage/